<header>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">
      <h1><router-link :to="{name: 'iMain'}" class="pointer">
              {{ sitename }}
          </router-link>
      </h1>
    </div>
    <div class="navbar">
      <router-link
        tag="button"
        class="btn btn-dark btn-lg ml-4"
        :to="{name: 'Form'}"
      >
        <span>{{ cartItemCount }}</span>
        <span class="fas fa-shopping-cart"> Checkout</span>
      </router-link>
      <div v-if="!mySession">
        <button type="button" @click="signIn" class="btn btn-dark btn-lg ml-4">
          Sign In
        </button>
      </div>
      <div v-else >
        <button type="button" @click="signOut" class="btn btn-dark btn-lg ml-4">
          <img class="photo" :src="mySession.photoURL" />
          Sign Out
        </button>
      </div>
    </div>
  </nav>
</header>
